API_PORT=3000
APP_HOST=judifiltre.judilibre-prive.local
APP_GROUP=judilibre-prive
APP_ID=judifiltre-client
APP_KEYWORD=html
APP_SCHEME=https
APP_SELF_SIGNED=true
APP_PORT=443
DOCKER_USERNAME=opendatajustice
KUBE_ZONE=local
KUBE_TYPE=k3s
KUBE_NAMESPACE=judilibre-prive-local-dev
ROOT_PATH=judifiltre
START_TIMEOUT=180
