# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/yarn-debug.log*
/client/yarn-error.log*

/backend/node_modules
/backend/dist
/backend/data

/backend/yarn-debug.log*
/backend/yarn-error.log*

/core/node_modules
/core/dist
/core/yarn-error.log*judilibre-admin
scripts/check_install.sh
scripts/deploy_k8s_services.sh
scripts/wait_services_readiness.sh
scripts/docker-check.sh
scripts/docker-build.sh
scripts/update_app.sh
scripts/clean_old_replicas.sh
k8s*
